/* Hide scrollbar for Webkit-based browsers (Chrome, Edge, Safari) */
.players-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.players-list {
  padding: 0.5rem;
  scrollbar-width: none;
  /* Hides the scrollbar in Firefox */
  max-height: 100%;
  /* Ensures content doesn't overflow */
}

/* For older versions of Internet Explorer and Edge */
.players-list {
  -ms-overflow-style: none;
  /* Hides the scrollbar in IE/Edge */
}

.wheel-row>div:nth-child(odd) {
  margin: 1rem;
}

.wheel-row>div:nth-child(even) {
  margin-top: 1rem;
}