.games-panel {
  position: absolute;
  top: 0;
  left: 80px;
  width: 350px;
  height: 100%;
  background-color: #1e1e2e;
  color: white;
  padding: 20px;
  overflow-y: auto;
  z-index: 1800;
}

.games-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.games-section {
  margin-bottom: 30px;
}

.games-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #00ff00;
}

.new-badge {
  background-color: #ff4545;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 12px;
  margin-left: auto;
}

ul {
  list-style-type: none;
}

/* styles/GamesPanel.css */
.game-link {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Use the same text color as the parent */
  display: block; /* Make the entire GameCard clickable */
  transition: transform 0.2s, box-shadow 0.2s; /* Add smooth animation */
}

.game-link:hover {
  transform: scale(1.05); /* Slightly increase size on hover */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}

.game-link:active {
  transform: scale(0.98); /* Slightly shrink on click */
}
