* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sans-serif", Arial, Helvetica, sans-serif;
}

html {
  background-color: #8b4513;
  /* Brown background */
}

.app-container {
  display: flex;
  height: 100vh;
}

.app-sidebar {
  width: 80px;
  height: 100%;
  /* Full viewport height */
  background-color: #2f2f2f;
  /* Darker shade of brown */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  /* Make the sidebar scrollable */
  scrollbar-width: thin;
  /* Add thin scrollbar for Firefox */
  scrollbar-color: #555 #1f1f1f;
  /* Scrollbar color */
}

.app-main {
  flex: 1;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  /* Text color */
  overflow: hidden;
  background-color: #8b4513;
  /* Brown background */
}

.main-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* Black background */
  color: white;
  /* White text */
  height: 5rem;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  background-color: #8b4513;
  /* Brown background */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 959px) {
  .app-sidebar {
    display: none;
  }

  .app-main {
    margin-left: 0;
  }
}